In [19]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/supragyabajpai/SchulichJourney_PredectiveModeling/main/sales_data%20(2).csv")

In [4]:
df.head()

,Order ID,Product ID,Amount (kg),Order Confirm Date,Required Delivery Date
0,1005781.0,8908023.0,20000.0,NaN,2020-07-30
1,1005998.0,8909373.0,6297.0,NaN,2020-07-15
2,1005969.0,8908023.0,20000.0,2020-05-29,NaN
3,1005969.0,8908023.0,20000.0,2020-05-29,NaN
4,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1928 entries, 0 to 1927
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order ID                1927 non-null   float64
 1   Product ID              1927 non-null   float64
 2   Amount (kg)             1927 non-null   float64
 3   Order Confirm Date      1925 non-null   object
 4   Required Delivery Date  1925 non-null   object
dtypes: float64(3), object(2)
memory usage: 75.4+ KB

In [6]:
df.columns

Index(['Order ID', 'Product ID', 'Amount (kg)', 'Order Confirm Date',
       'Required Delivery Date'],
      dtype='object')

In [8]:
pd.pivot_table(df,values="Amount (kg)",index='Product ID').head()

             Amount (kg)
Product ID
8601971.0     740.000000
8601986.0     956.000000
8902398.0    3937.372553
8902615.0    2960.000000
8902635.0   17292.335506

In [9]:
df_partial = df.dropna(subset=['Order Confirm Date'])
df_fully = df.dropna()

In [14]:
df.shape

(1928, 5)

In [12]:
df_partial.shape

(1925, 5)

In [13]:
df_fully.shape

(1923, 5)

In [15]:
df2 = pd.read_csv("https://raw.githubusercontent.com/supragyabajpai/SchulichJourney_PredectiveModeling/main/small_dataset.csv")

In [16]:
df2.head()

   Transaction ID             ItemsPurchased
0               1         biscuit,bread,milk
1               2  biscuit,bread,cereal,milk
2               3                  bread,tea
3               4             bread,jam,milk
4               5                biscuit,tea

In [20]:
transaction_list = list(df2['ItemsPurchased'].apply(lambda t : t.split(",")))
encoder  = TransactionEncoder().fit(transaction_list)
encoded_transaction_list = encoder.transform(transaction_list)
ideal_format_table = pd.DataFrame(encoded_transaction_list, columns= encoder.columns_)
ideal_format_table.head()

   biscuit  bread  cereal    jam   milk    tea
0     True   True   False  False   True  False
1     True   True    True  False   True  False
2    False   True   False  False  False   True
3    False   True   False   True   True  False
4     True  False   False  False  False   True

In [22]:
format_b_to_a = df2.groupby(['Transaction ID'])["ItemsPurchased"].\
    apply(lambda t : ','.join(t)).reset_index()
transaction_list= list(format_b_to_a["ItemsPurchased"].apply(lambda t : t.split(",")))
encoder = TransactionEncoder().fit(transaction_list)
encoded_transaction_list = encoder.transform(transaction_list)
ideal_format_table = pd.DataFrame(encoded_transaction_list, columns= encoder.columns_)
ideal_format_table.head()

   biscuit  bread  cereal    jam   milk    tea
0     True   True   False  False   True  False
1     True   True    True  False   True  False
2    False   True   False  False  False   True
3    False   True   False   True   True  False
4     True  False   False  False  False   True